#myCanvas {
    height: 808px;
    width: 1360px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    z-index: 4;
    opacity: 0;

/*    cursor: crosshair;*/
   
/*    left: 80px;*/
    
}

div.container {
   
    height: 820px;
    width: 1372px;
    background: white;
    border: 6px solid white;
    margin-left: auto;
    margin-right: auto;
/*    margin-top: 15px;*/
    position: relative;
    z-index: 0;
    cursor: url(brush-11.png),auto;

    
}


.paths {
    height: 796px;
    width: 1348px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    position: absolute;
    z-index: 0;
    opacity: 0;
}
.image{
    height: 796px;
    width: 1348px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    position: absolute;
    z-index: 1;
    opacity: 1;
     
    
}

button {
    width: 10.6vw;
    height: 5.3vw;
    top: 1vw;
    /*
    margin-right: auto;
    margin-left: 50px;
*/
    position: absolute;
    z-index: 4;
    cursor: pointer;
    position: absolute;
    background-image: url("bucket-10.png");
    background-color: transparent;
    background-size: contain;
    border-radius: 20px;
    border: 0px solid transparent;
    background-color: transparent;
    outline: none;
    cursor: url(brush2-11.png), auto;
    z-index: 8;
    /*    border-radius: 50px;*/
}

div.outside {
    height: 5.3vw;
    width: auto;
    ;
    /*    background-image: url(drawing_dots-01.png);*/
    background: transparent;
    margin-left: 2.5vw;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.q {
    position: absolute;
    width: 3.4vw;
    height: 10.6vw;
    margin-left: .5vw;
    margin-top: -4vw;
    background-repeat: no-repeat;
    background-image: url(question-10.png);
    background-size: contain;
    transform: scale();
    cursor: -webkit-grab;
    z-index: 9;
}

.popupbox {
    position: relative;
    left: -50%;
    width: 42.6vw;
    height: 27vw;
    /*    display: none;*/
    margin: auto;
    z-index: 7;
    background: linear-gradient(to right, #FFAEA6, #FF99FD);
    border: 8px solid black;
    box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.65)
}

.popupcontainer {
    position: absolute;
    left: 50%;
    width: 42.6vw;
    height: 27vw;
    top: 11.7vw;
    margin: auto;
}

.textcontainer {
    width: 32vw;
    height: 21.3vw;
    margin: auto;
    margin-top: 2.6vw;
    background-image: url(type-21.svg);
}


/*
.title {
    line-height: 120%;
    font-weight: Bold 700;
    font-size: 40px;
}

.directions {
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
}

p {
    font-size: 18px;
    line-height: 130%;
}
*/

.x {
    background-image: url(x-01.png);
    background-size: contain;
    transform: scale(.75, .75);
    width: 5.3vw;
    height: 5.3vw;
    right: 0px;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 8;
    cursor: -webkit-grab;
}

.left {}

.textcontainer {}

.info {
    width: 30vw;
    height: 21.3vw;
    margin: auto;
    margin-top: 3.2vw;
    background-repeat: no-repeat;
    background-image: url(info-22.svg);
}

.popupcontainer2 {
    position: absolute;
    left: 50%;
    width: 42.6vw;
    height: 27vw;
    top: 11.7vw;
    margin: auto;
    display: none;
}

.popupbox2 {
    position: relative;
    left: -50%;
    width: 42.6vw;
    height: 27vw;
    /*    display: none;*/
    margin: auto;
    z-index: 7;
    background: linear-gradient(to right, #FFAEA6, #FF99FD);
    border: 8px solid black;
    box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.65)
}

.x2 {
    background-image: url(x-01.png);
    transform: scale(.75, .75);
    width: 5.3vw;
    height: 5.3vw;
    right: 0px;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 8;
    cursor: -webkit-grab;
}