


.from {
    position: absolute;
    width: 80vw;
    left: -3vw;
    top: 2vw;
    transform: rotate(-12deg);
}

.to {
    position:absolute;
    width: 32vw;
    margin-left: 63vw;
    margin-top:21vw;
    transform: rotate(-18deg);
}


#Layer_1 {
    transform: scale(.75,.75);
}



.comma {
      position: absolute;
    width: 77vw;
    left: 32vw;
    top: -39vw;
    transform: rotate(12deg);
    transform: scale(.09,.09)
}

#link {
    text-decoration: none;
}



.brush_container {
position: relative;
    margin: auto;
    width: 25vw;
    height: 13vw;
    top: 30vw;
    transform: rotate(-35deg);
}

a {
    position: absolute;
    width: 100%;
    height: 100%;
}



.brush_container2 {
    position: relative;
    margin: auto;
    width: 25vw;
    height: 13vw;
    top: 30vw;
    transform: rotate(-35deg);
}

.brush {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("bigbrushbw.png");
    background-size: contain;
}
.brush:hover{
    background-image: url("bigbrush.png");
        background-size: contain;

}
