div {
	
}
.divpink {
	background: pink;
	width: 20px;
	height: 20px;
	float: left;
}
.divgreen {
	background: green;
	width: 20px;
	height: 20px;
	float: left;
}
.div1 {
	background: pink;
	width: 60%;
	margin-top: 10px;
}
.div2 {
	color: pink;
	width: 160px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: solid 3px;
}
.div3 {
	color: green;
	width:160px;
	height: auto;
}
img {
	width: 160px;
	height: auto;
}
.img1:hover{
	border: solid 3px;
	padding: 5px;
}
.hay {
	position: fixed;
	right: 100px;
	top: 50%;
	color: green;
}
.hay:hover {
	color: pink;
}