html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background: transparent;
    background: RGBA(195, 195, 195, 1);
background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}



.deck {
    position: relative;
    width: 45vh; /* 44.97744 actually */
    height: 80vh;
    background: transparent;
    z-index: 3;
}

.card {
    position: relative !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .9);
    border-radius: 15px;
    background-size: cover;
    z-index: 4;
    color: #111;
}

.iphone {
    background: url(../media/iphone-crop-500.png) no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    right: 10vw;
    width: 540px;
    height: 450px;
}

iframe {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 15px;
    overflow: hidden;
}

.landscape-lulz {
    display: none;
}




@media only screen and (max-height: 479px) {
    .deck { 
        height: 96vh;
        width: 54vh;
        
        
        -webkit-transform: scale(.9); 
        -ms-transform: scale(.9); 
        transform: scale(.9);

    }
}


@media only screen and (max-width: 581px) {
    
    .deck { 
        -webkit-transform: scale(.9); 
        -ms-transform: scale(.9); 
        transform: scale(.9);
    }
    .iphone {
         right: -45vw;
   
    }
}



@media only screen and (min-device-width: 640px) {
    .deck{
        max-width: 400px;
        max-height: 714px;
        min-width: 320px;
        min-height: 566px;   
    }
    

}





@media screen and (orientation:landscape) and (max-device-width: 768px) {
    body {
        background: none;
        background-color: #111;
        position: fixed;
    }
    .wrapper {
        display: none;
    }
    .landscape-lulz {
        margin-top: 30px;
        padding: 50px;
        font-size: 34px;
        color: white;
        display: block;
        text-align: center;
    }
    .rotate-icon {
        width: 100px;
        margin-top: .25em;
    }
    
    
}