
#myCanvas {
    height: 808px;
    width: 1360px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    z-index: 4;
    opacity: 0;

/*    cursor: crosshair;*/
   
/*    left: 80px;*/
    
}

div.container {
   
    height: 820px;
    width: 1372px;
    background: white;
    border: 6px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
    z-index: 0;
    cursor: url(brush-11.png),auto;

    
}


.paths {
    height: 796px;
    width: 1348px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    position: absolute;
    z-index: 0;
    opacity: 0;
}
.image{
    height: 796px;
    width: 1348px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    position: absolute;
    z-index: 1;
    opacity: 1;
     
    
}

button {
    width: 200px; 
	height: 100px; 
    top: 20px;
    /*
    margin-right: auto;
    margin-left: 50px;
*/
   
    position: absolute;
    z-index: 4;
    cursor: pointer;
    position:absolute;
    background-image: url("bucket-10.png");
    background-color: transparent;
    border-radius: 20px;
    border: 0px solid transparent;
    background-color: transparent;
    outline:none;
    cursor: url(brush2-11.png),auto;
    z-index: 5;


   
/*    border-radius: 50px;*/
}

div.outside {
    height: 100px;
    width: auto;;
/*    background-image: url(drawing_dots-01.png);*/
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index:0;
    
    
}


#myCanvas {
}


}





h1 {
    color: white;
}

body {

}

#printbutton {
/*    display: none;*/
}

.hidden {
/*    display: none;*/
}

#popup {
    #popup
{
	width:560px;
	height:360px;
	background:#00CC33;
	color:#fff;
	padding:20px;
	position:absolute;
	top:0%;
	left:50%;
	margin-top:-500px;
	margin-left:-250px;
}
#popup h1
{
	margin:0px;
	padding:0px;
}
}
