body{
	width: 90%;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	margin: 0 40px;
}

header{
	position: fixed;
	width: 90%;
	background-color: white;
	clear: both;
	top: 0px;

}

header h1{
	font-size: 24px;
}


ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}

li{
	justify-content: space-between;
	font-size: 20px;
	transition: 0.5s all;
}

li:hover{
	background-color: yellow;

}

#pp{
	text-align: left;
	float: left;
}

#profile{
	text-align: right;
	float: right;
}

#sub_header{
	clear: both;
}

#display_option{
	clear: both;
	height: 50px;
	margin-top: 100px;
	font-size: 16px;
}

.img_container{
	display: flex;
	justify-content: space-between;
}

img